@use '@/styles/variables.scss' as vars;
@use '@/styles/mixins/breakpoints';

.blog_featured_post_card {
  padding: 0.35714rem 0;
  display: flex;
  justify-content: center;

  p {
    font-family: var(--font-book);
    font-size: var(--text-size-md);
  }

  h2 {
    font-family: var(--font-book);
    font-size: var(--text-size-6xl);
    line-height: 1.233;

    margin: 0 0 1.64286rem 0;
  }

  & .blog_text {
    font-family: var(--font-regular);
    font-size: var(--text-size-md);
  }

  @each $color in vars.$colors {
    & .blog_container_#{$color} {
      width: 100%;
      padding: 1rem;

      display: grid;
      grid-template-columns: auto;
      max-width: 69.28571rem;
      color: inherit;
      text-decoration: none;

      @include breakpoints.media-breakpoint-up(lg) {
        grid-template-columns: 66% 34%;
      }

      & .blog_container_#{$color}__img {
        width: 100%;
      }

      & .blog_container_#{$color}__subtext {
        text-transform: uppercase;
        font-family: var(--font-bold);
        color: var(--color-white);

        margin: 0;
        padding: 0.2rem 0.7rem;
        background-color: var(--color-#{$color});
      }

      & .blog_anchor_#{$color} {
        font-family: var(--font-bold);
        font-size: var(--text-size-3xl);
        color: var(--color-#{$color}-text);
      }

      & .blog_card {
        display: grid;
        margin-top: 1rem;

        @include breakpoints.media-breakpoint-up(lg) {
          padding-left: 2rem;
          margin-top: 0;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:hover .blog_anchor_#{$color} {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
