@use '@/styles/mixins/breakpoints';
.image-desktop {
  display: none;
  @include breakpoints.media-breakpoint-up(lg) {
    display: block;
  }
}

.image-mobile {
  display: block;
  @include breakpoints.media-breakpoint-up(lg) {
    display: none;
  }
}
