@font-face {
  font-family: 'Nexa';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/nexa/nexa-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nexa Book';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/nexa/nexa-book.woff2') format('woff2');
}

@font-face {
  font-family: 'Nexa Light';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/nexa/nexa-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Nexa Bold';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/nexa/nexa-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nexa XBold';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/nexa/nexa-xbold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nexa Heavy';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/nexa/nexa-heavy.woff2') format('woff2');
}