@use '@/styles/mixins/breakpoints';

@mixin theme-variant($color) {
  color: var(--color-#{$color}-text);

  h1,
  h2,
  h3,
  h4,
  h5 {
    border-bottom: 2px solid var(--color-#{$color});
  }
}

.featured-blog-article {
  width: 100%;

  .title {
    font-size: 1.28571rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  &.leaf {
    @include theme-variant(leaf);
  }

  &.grape {
    @include theme-variant(grape);
  }

  &.sun {
    @include theme-variant(sun);
  }

  &.lips {
    @include theme-variant(lips);
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-size: 1.28571rem;
    font-family: var(--font-regular);
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
