@use '@/styles/mixins/breakpoints';

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #000;

  h1 {
    font-size: 32px;
    margin: 40px 0 45px;
    font-family: var(--font-bold);
  }

  p {
    font-size: 18px;
    margin-bottom: 50px;
    font-family: var(--font-book);
  }

  a {
    border: 3px solid #000;
    padding: 20px 40px;
    text-decoration: none;
    font-family: var(--font-bold);

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}
