@use '@/styles/mixins/breakpoints';

.blog-sidebar {
  background-color: #f8f8f8;
  flex: 0 1 100%;
  max-width: 100%;
  height: fit-content;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 480px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include breakpoints.media-breakpoint-up(lg) {
    flex: 0 1 33.33333%;
    max-width: 33.33333%;
    border-right: 1rem solid var(--color-white);
  }

  &__content {
    flex: 0 1 100%;
    max-width: 100%;

    @media (min-width: 480px) {
      flex: 0 1 50%;
      max-width: 50%;
    }

    @include breakpoints.media-breakpoint-up(lg) {
      flex: 0 1 100%;
      max-width: 100%;
    }

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }
}
